<!-- include head -->
<%- include('./include/_head') %>
    <!-- /include head -->
    <link href="stylesheets/mainpage.css" rel="stylesheet">
    <!-- include header -->
    <%- include('./include/_header') %>
        <!-- /include header -->

        <main>
            <div class="IntroBodyView">
            <h3>가입 중 밴드 목록</h3>
            <div class="container">
                <ul class="bandCardList">
                <% bandList.bands.forEach(function(band) { %>
                    <li class="bandCardItem">
                        <div class="band">
                            <a href="/main/<%= band.band_key %>" role="button" class="bandinvite_link">
                                <img src="<%= band.cover %>" alt="<%= band.name %> Cover">
                                <div class="band-name">
                                    <%= band.name %>
                                </div>
                            </a>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        </main>

        <!-- include footer -->
        <%- include('./include/_footer') %>
            <!-- /include footer -->